<html>
<head>
	<title>Daily Mood Log</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="../js/jquery-1.11.0.js"></script>
	<link href="../css/daily-mood-entry.css" rel="stylesheet">
</head>
<body style="margin: 0;">

	<div class="icon-bar">
	  <div class="navbar-new">
	    <i onclick="goBack()" class="fa fa-chevron-left"></i>
	  </div>
	  <!-- <div class="navbar-settings">
	    <div class="dropdown">
	      <button class="dropbtn">&#9776;</button>
	      <div id="dropdown-content" style="right:0">
	        <a href="/updateInfo">Settings</a>
	        <a href="/">Log Out</a>
	      </div>
	    </div>
	  </div> -->
	  <h2>DAILY MOOD LOG</h2>
	</div>

	<h1 class="question-title">How are you feeling?</h1>

	<form id="myForm">
		<label>
			<input type="radio" name="moods" value="Happy">
			<img class="left" style="margin-right: 21px" src="../images/happy-orange.png">
		</label>
		<label>
			<input type="radio" name="moods" value="Meh">
			<img class="right" style="margin-left: 21px" src="../images/meh-orange.png">
		</label><br />
		<label>
			<input type="radio" name="moods" value="Unhappy">
			<img class="one-inline" src="../images/unhappy-orange.png">
		</label><br />
		<label>
			<input type="radio" name="moods" value="Crying">
			<img class="left" style="margin-right: 21px" src="../images/crying-orange.png" id="imgClickAndChange" onclick="changeImage()">
		</label>
		<label>
			<input type="radio" name="moods" value="Angry">
			<img class="right" style="margin-left: 21px" src="../images/angry-orange.png">
		</label>
</form>
<div class="final-options">
	<a href="./daily-entry">
		<button class="temp-filled-in">Save Mood</button>
	</a>
</div>
</div>
<!-- <p>
        <img alt="" src="../images/crying-orange.png"
            style="height: 85px; width: 85px" id="imgClickAndChange" onclick="changeImage()"  />
</p> -->

</body>




<script language="javascript">
    function changeImage() {
        if (document.getElementById("imgClickAndChange").src == "../images/crying-orange.png")
        {
            document.getElementById("imgClickAndChange").src = "../images/crying-green.png";
        }
        if (document.getElementById("imgClickAndChange").src == "../images/crying-green.png")
        {
            document.getElementById("imgClickAndChange").src = "../images/crying-orange.png";
        }
				else
				{
					document.getElementById("imgClickAndChange").src = "../images/crying-green.png";
				}
    }
</script>

<script>
  $(document).ready(function(){
 $('#myForm input').on('change', function(){
 	localStorage.clear();
 	localStorage.setItem('moods', $('input[name=moods]:checked', '#myForm').val());
 });
  });
</script>
</html>
