
.icon-bar {
    width: 100%; /* Full-width */
    background-color: white; /* background */
    overflow: auto; /* Overflow due to float */
    height: 48px;
    border-bottom: 1px solid #bababa;
    box-shadow: 0px 2px 2px #bababa;
}

.icon-bar h2 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1.06px;
  color: #33cc99;
  text-align: center;
  padding-right: 48px;
}

.mood-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding-top: 6px;
  padding-left: 8px;
}

.navbar-settings {
  float: right;
}

.instructions{
  text-align: left;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  float: left;
  font-size: 16px;
  font-weight: 600;
  font-family: Roboto;
  color: black;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  font: Roboto;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: white;
  padding: 12px 12px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  background-color: #F9BBAC;
  color: black;
  height: 48px;
}

/* Dropdown content (hidden by default) */
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
#dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover #dropdown-content {
  display: block;
}

.navbar-new {
  float: left;
  color:white;
  left: 0;
  padding-left: 12px;
  padding-right: 10px;
  margin-top: 16px;
}









h1 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #F4775A; /* background */
    overflow: auto; /* Overflow due to float */
    height: 48px;
    margin-bottom: 45px;
}


.icon-bar h2 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1.06px;
  color: White;
  text-align: center;
}

.navigation-table-container {
  margin-top: 100px;
  text-align: center;
}

.navigation-table {
  margin-top: 520px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  text-align: center;
  display: inline-block;
}

.navigation-table2 {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  text-align: center;
  display: inline-block;
}

.back-arrow-section {
  width: 18px;
  text-align: center;
}

.back-text-section {
  width: 32px;
  text-align: center;
}

.finish-section {
  width: 264px;
  text-align: right;
}

#backtext {
  font-family: Roboto;
  color: #33cc99;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.log-in2 {
  background-color: #33cc99;
  color: white;
  width: 218px;
  border: 1px solid #33cc99;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  border-radius: 24px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
}


body{
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.question-title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 32px;
  color: black;
  padding-top: 0px;
  padding-bottom: 24px;
  padding-left: 0px;
}

button {
  border: 0px;
  background-color: white;
}

label > input {
  visibility: hidden;
  position: absolute;
}

label > input + img {
  cursor: pointer;
  border: 2px solid transparent;
  width: 105px;
  height: 105px;
}

label > input:checked + img{
  border: 2px solid #33cc99;
}
.save{
  text-align: center;
  padding-top: 30px;
}

  .final-options {
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: center;
  }

  .filled-in1 {
    background-color: #F4775A;
    border: 1px solid white;
    height: 48px;
    border-radius: 24px;
    width: 256px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .temp-filled-in {
    background-color: #33cc99;
    height: 48px;
    border-radius: 24px;
    width: 256px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .mood {
    text-align: center;

  }

  .pic {
    width: 110px;
    height: 110px;
  }
  .entry {
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
  }

  textarea {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: black;
  }

  #text-multi-line {
    padding-bottom: 17px;
    height: 150px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid gray;
  }

  .save{
    text-align: center;
    padding-top: 120px;
  }
