.icon-bar {
    width: 100%; /* Full-width */
    background-color: white; /* background */
    overflow: auto; /* Overflow due to float */
    height: 48px;
    border-bottom: 1px solid #bababa;
    box-shadow: 0px 2px 2px #bababa;
}

.icon-bar h2 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1.06px;
  color: #33cc99;
  text-align: center;
  padding-right: 48px;
}

.mood-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding-top: 6px;
  padding-left: 8px;
}

.navbar-settings {
  float: right;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  font: Roboto;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: white;
  padding: 12px 12px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  background-color: #F9BBAC;
  color: black;
  height: 48px;
}

/* Dropdown content (hidden by default) */
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
#dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover #dropdown-content {
  display: block;
}

.navbar-new {
  float: left;
  color:white;
  left: 0;
  padding-left: 12px;
  padding-right: 10px;
  margin-top: 16px;
}









  .navbar {
    overflow: hidden;
    background-color: #F4775A;
    font-family: Roboto;
    font-weight: 500;
    height: 48px;
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;

  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: white;
    padding: 12px 12px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /* Add a red background color to navbar links on hover */


  .navbar a:hover {
    background-color:#F9BBAC;

  }
  .navbar-new:hover {
    background-color:#F9BBAC;
    height: 48px;
  }


  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-new {
    float: left;
  }

  .navbar-left-most{
    width: 100%;
  }
  .navbar-settings {
    float: right;
  }


  .dropdown {
    width: auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }

  .active{
    background-color: #ddd;
  }

  .main-content-area {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

h1 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
}

h3{
    padding-left: 8px;
    line-height: 0.2em;
}


.history-entry-title {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
}

.subtitle {
  font-family: Roboto;
  font-size: 14px;
  color: black;
  margin-top: 4px;
}

.history-entry {
  font-family: Roboto;
  font-size: 14px;
  color: #9B9B9B;
  margin-top: 4px;
  font-weight: lighter;
}

.advice {
  float: left;
  width: 96px;
}


.between-elements {
  margin-top: 18px;
  padding-bottom: 16px;
  height: 1px;
  border: none;
  border-top: 0.01em solid #9B9B9B;

}
